<section #main class="main">
  <div class="main-wrapper">
    <div class="projects-container">
      <ul class="projects">
        <li #items *ngFor="let item of itemsList; let i = index" class="item rotatedYAnimationFromStart" (click)="handleClick($event.currentTarget, i)">
          <div class="item-container">
            <a><span class="item-title">{{ item.title }}</span></a>
            <button (click)="destroy($event, items)">
              Go back <fa-icon [icon]="faChevronRight"></fa-icon>
            </button>
            @if (item.page) {
              <button class="see-page" (click)="goToPage(item.page)">
                Go to page <fa-icon [icon]="faArrowUpRightDots"></fa-icon>
              </button>
            }
          </div>
          <div class="info-container">
            <p class="description">{{ item.description }}</p>
            <div class="tecs-container">
              <div class="tec" *ngFor="let tech of item.techs">
                <p>{{ tech.name }}</p>
                <object [data]="tech.iconPath |  safeUrl"></object>
              </div>
              <div class="tec" *ngIf="item.responsive">
                <p>Responsive</p>
                <div class="responsive">
                  <fa-icon [icon]="faDisplay"></fa-icon>
                  <fa-icon class="mobile" [icon]="faMobileScreen"></fa-icon>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
