<nav class="navbar">
  <a (click)="scrollToSection('Projects')">Projects</a>
</nav>
<div class="mobile">
  <div class="personal-info">
    <p class="intro">Hi, my name is</p>
    <h1 class="name">Lucas Agustin Ramallo.</h1>
    <h2 class="description">I create things for the web.</h2>
    <p class="sub-description">
      I'm a software developer specialized in crafting dynamic web applications
      with a focus on performance and user experience, delivering unique and
      useful products.
    </p>
    <ul class="links">
      <li>
        <a [href]="gmail">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          Gmail
        </a>
      </li>
      <li>
        <a [href]="linkedIn">
          <fa-icon [icon]="faLinkedin"></fa-icon>

          LinkedIn</a
        >
      </li>
      <li>
        <a [href]="github"> <fa-icon [icon]="faGithub"></fa-icon>GitHub</a>
      </li>
    </ul>
  </div>
  <section id="Projects" class="projects">
    <h1 class="section-title">Projects</h1>
    <div class="grid">
      <div class="grid-item">
        <h2 class="title"><a [href]="coffeeShop">Coffee Shop</a></h2>
        <p class="description">
          This is a huge project that consists of an online store for selling
          coffee. It's not finished yet, but you can check the progress made
          anytime you want!
        </p>
        <div class="tecs-container">
          <div class="tec">
            <p>Angular</p>
            <object data="assets/svgs/angular.svg"></object>
          </div>
          <div class="tec">
            <p>Typescript</p>
            <object data="assets/svgs/typescript.svg"></object>
          </div>
          <div class="tec">
            <p>SCSS</p>
            <object data="assets/svgs/sass.svg"></object>
          </div>
          <div class="tec">
            <p>RxJs</p>
            <object data="assets/svgs/rxjs.svg"></object>
          </div>
          <div class="tec">
            <p>Responsive</p>
            <div class="responsive">
              <fa-icon [icon]="faDisplay"></fa-icon>
              <fa-icon class="mobile" [icon]="faMobileScreen"></fa-icon>
            </div>
          </div>
          <!-- <div class="tec">
            <p>Mobile</p>
            <fa-icon [icon]="faMobileScreen"></fa-icon>
          </div>
          <div class="tec">
            <p>Desktop</p>
            <fa-icon [icon]="faDisplay"></fa-icon>
          </div> -->
        </div>
      </div>
      <div class="grid-item">
        <h2 class="title"><a [href]="RDR2">Fanpage RDR 2</a></h2>
        <p class="description">
          I made this project to show my love for this game and also try some
          animations. <strong>(recommend using desktop)</strong>
        </p>
        <div class="tecs-container">
            <div class="tec">
              <p>Angular</p>
              <object data="assets/svgs/angular.svg"></object>
            </div>
            <div class="tec">
              <p>Typescript</p>
              <object data="assets/svgs/typescript.svg"></object>
            </div>
            <div class="tec">
              <p>SCSS</p>
              <object data="assets/svgs/sass.svg"></object>
            </div>
            <div class="tec">
              <p>Responsive</p>
              <div class="responsive">
                <fa-icon [icon]="faDisplay"></fa-icon>
                <fa-icon class="mobile" [icon]="faMobileScreen"></fa-icon>
              </div>
            </div>
        </div>
      </div>
      <div class="grid-item">
        <h2 class="title"><a>Coming soon...</a></h2>
        <p class="description">...</p>
      </div>
    </div>
  </section>
  <footer class="footer">
    <!-- <h1 class="section-title">Projects</h1> -->
    <button (click)="scrollToTop()">
      <fa-icon [icon]="faChevronUp"></fa-icon>
    </button>
  </footer>
</div>
