<div class="main">
  <div class="main-wrapped">
    <div class="info-container">
      <h1 class="name">
        LUCAS AGUSTIN RAMALLO
      </h1>
      <h2 class="description">I create things for the web.</h2>
      <p class="sub-description">
        I'm a software developer specialized in crafting dynamic web applications
        with a focus on performance and user experience, delivering unique and
        useful products.
      </p>
    </div>
    <div class="links">
      <a href="mailto:lucramallo14@gmail.com"><fa-icon [icon]="faEnvelope"></fa-icon>lucramallo14&#64;gmail.com</a>
      <a href="https://www.linkedin.com/in/lucas-ramallo-ab24a2218/"
        ><fa-icon [icon]="faLinkedin"></fa-icon>Lucas Ramallo</a
      >
      <a href="https://github.com/GmasT3rr"
        ><fa-icon [icon]="faGithub"></fa-icon>GmasT3rr
      </a>
    </div>
  </div>
  <!-- <button>Disable movement</button> -->
</div>
